{% assign post = site.posts 
  | where_exp: "post", "post.slug == include.lookup"
  | first
  | default: include
%}

<div class="post-excerpt">
  {% assign url = post.url %}
  {% assign title = post.title %}
  {% assign ext_link = post.external_link %}

  <strong> {{ title }} </strong>
  
  {%
    include post-info.html
    author=post.author
    published=post.date
    updated=post.last_modified_at
    tags=post.tags
  %}

  {% assign search = post.content
    | strip_html 
    | strip_newlines
    | regex_strip
  %}
  
  <div data-search="{{ search }}">
    {{ post.content }}
    
    {% if ext_link %}
      <p><a href="{{ ext_link }}">Read more</a></p>
    {% endif %}
  </div>
</div>
